<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreshCleaning</title>
</head>
<body>
    <header>
        <nav>
            <!-- Buraya menü öğelerinizi ekleyebilirsiniz. -->
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- Bu kısım, diğer sayfalarda içerik eklenecek olan kısımdır. -->
        {% endblock %}
    </main>

    <footer>
        <!-- Buraya footer bilgilerinizi ekleyebilirsiniz. -->
    </footer>
</body>
</html>