{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to FreshCleaning!iLKIN HIDYAEV</h1>
            <p>Your one-stop solution for all cleaning services.</p>
            {% if user.is_authenticated %}
                <p>Hello, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
            {% else %}
                <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}